@{
    ViewBag.Title = "Index";
}

<h2>Team 11's Movie Theater</h2>

@Html.ActionLink("Showings", "Index", "Showings", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "btn btn-success" })
@Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "btn btn-info" })
@Html.ActionLink("Genres", "Index", "Genres", null, new { @class = "btn btn-info" })
@Html.ActionLink("Reviews", "Index", "Reviews", null, new { @class = "btn btn-info" })