@model MIS333K_Team11_FinalProjectV2.Models.Showing
@using MIS333K_Team11_FinalProjectV2.Models

@{
                

                ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <div>
            <table class="table table-sm table-striped">
                <tr>
                    <th>Movie</th>
                </tr>
                @foreach (Movie mov in Model.SponsoringMovies)
                     {
                            <tr>
                            <td>@Html.DisplayFor(modelItem => mov.MovieTitle)</td>
                            </tr>
                     }
            </table>

        </div>
        <dt>
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theatre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theatre)
        </dd>



        <dt>
            Running Time
        </dt>
        <dd>
            @foreach (Movie mov in Model.SponsoringMovies)
            {
                @Html.DisplayFor(modelItem => mov.RunningTime)
            }
        </dd>


    </dl>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShowingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>