@model MIS333K_Team11_FinalProjectV2.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Street:</dt>
        <dd>@Model.Street</dd>

        <dt>City:</dt>
        <dd>@Model.City</dd>

        <dt>State:</dt>
        <dd>@Model.State</dd>

        <dt>Zipcode:</dt>
        <dd>@Model.Zipcode</dd>

        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Birthday:</dt>
        <dd>@Model.Birthday</dd>

        <dt>PopcornPoints:</dt>
        <dd>@Model.PopcornPoints</dd>

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
    }
            ]

        </dd>
    </dl>


</div>
<hr />